---

- name: "Check vCenter API version"
  community.vmware.vmware_about_info:
    hostname: "{{ vcenter_host }}"
  delegate_to: localhost
  register: vcenter_info
  tags:
    - vcenter
    - permissions
    - api_version

- name: "Validate vCenter API version"
  assert:
    that:
      - vcenter_info.about_info.api_version is defined
      - vcenter_info.about_info.api_version is version('6.7', '>=')
    fail_msg: "vCenter API version {{ vcenter_info.about_info.api_version }} is below minimum required version 6.7"
    success_msg: "vCenter API version {{ vcenter_info.about_info.api_version }} meets minimum requirements"
  when: vcenter_validation_check_api_version | default(true) | bool
  register: api_check
  tags:
    - vcenter
    - permissions
    - api_version
  notify:
    - vcenter_api_success
    - vcenter_api_failure

- name: "Check datacenter access permissions"
  community.vmware.vmware_datacenter_info:
    hostname: "{{ vcenter_host }}"
    datacenter: "{{ config_vcenter_datacenter | default('') }}"
  delegate_to: localhost
  register: datacenter_access
  ignore_errors: false
  when: vcenter_validation_check_datacenter_access | default(true) | bool
  tags:
    - vcenter
    - permissions
    - datacenter
  notify:
    - vcenter_datacenter_success
    - vcenter_datacenter_failure

- name: "Validate datacenter access"
  debug:
    msg: "Datacenter access verified successfully"
  when:
    - vcenter_validation_check_datacenter_access | default(true) | bool
    - datacenter_access is not skipped
  tags:
    - vcenter
    - permissions
    - datacenter
  notify:
    - vcenter_datacenter_success
    - vcenter_datacenter_failure

- name: "Check cluster access permissions"
  community.vmware.vmware_cluster_info:
    hostname: "{{ vcenter_host }}"
    datacenter: "{{ config_vcenter_datacenter | default('') }}"
    cluster_name: "{{ config_vcenter_cluster }}"
  register: cluster_access
  ignore_errors: false
  when: vcenter_validation_check_cluster_access | default(true) | bool
  tags:
    - vcenter
    - permissions
    - cluster
  notify:
    - vcenter_cluster_success
    - vcenter_cluster_failure

- name: "Validate cluster access"
  debug:
    msg: "Cluster access verified successfully"
  when:
    - vcenter_validation_check_cluster_access | default(true) | bool
    - cluster_access is not skipped
  tags:
    - vcenter
    - permissions
    - cluster
  notify:
    - vcenter_cluster_success
    - vcenter_cluster_failure

- name: "Check datastore access permissions"
  community.vmware.vmware_datastore_info:
    hostname: "{{ vcenter_host }}"
    name: "{{ config_vcenter_datastore | default('') }}"  # vcenter_datastore
  register: datastore_access
  ignore_errors: false
  when: config_vcenter_datastore | default('') != ''
  tags:
    - vcenter
    - permissions
    - datastore
  notify:
    - vcenter_datastore_success
    - vcenter_datastore_failure

- name: "Validate datastore access"
  debug:
    msg: "Datastore access verified successfully"
  when:
    - config_vcenter_datastore | default('') != ''
    - datastore_access is not skipped
  tags:
    - vcenter
    - permissions
    - datastore
