---
# vCenter Connection Role - Permissions Verification Tasks
# Verifies vCenter user permissions and access levels

- name: "Check vCenter API version"
  community.vmware.vmware_about_info:
    hostname: "{{ vcenter_host }}"
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_user_password }}"
    validate_certs: "{{ vcenter_connection_validate_certs }}"
  delegate_to: localhost
  connection: local
  register: vcenter_info
  tags:
    - vcenter
    - permissions
    - api_version

- name: "Validate vCenter API version"
  assert:
    that:
      - vcenter_info.about_info.api_version is defined
      - vcenter_info.about_info.api_version is version('6.7', '>=')
    fail_msg: "vCenter API version {{ vcenter_info.about_info.api_version }} is below minimum required version 6.7"
    success_msg: "vCenter API version {{ vcenter_info.about_info.api_version }} meets minimum requirements"
  when: vcenter_validation_check_api_version | default(true) | bool
  tags:
    - vcenter
    - permissions
    - api_version

- name: "Check datacenter access permissions"
  community.vmware.vmware_datacenter_info:
    hostname: "{{ vcenter_host }}"
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_user_password }}"
    validate_certs: "{{ vcenter_connection_validate_certs }}"
    datacenter: "{{ vcenter_datacenter }}"
  delegate_to: localhost
  connection: local
  register: datacenter_access
  ignore_errors: false
  when: vcenter_validation_check_datacenter_access | default(true) | bool
  tags:
    - vcenter
    - permissions
    - datacenter

- name: "Validate datacenter access"
  debug:
    msg: "Datacenter access verified successfully"
  when:
    - vcenter_validation_check_datacenter_access | default(true) | bool
    - datacenter_access is not skipped
  tags:
    - vcenter
    - permissions
    - datacenter

- name: "Check cluster access permissions"
  community.vmware.vmware_cluster_info:
    hostname: "{{ vcenter_host }}"
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_user_password }}"
    validate_certs: "{{ vcenter_connection_validate_certs }}"
    datacenter: "{{ vcenter_datacenter }}"
    cluster_name: "{{ vcenter_cluster }}"
  delegate_to: localhost
  connection: local
  register: cluster_access
  ignore_errors: false
  when: vcenter_validation_check_cluster_access | default(true) | bool
  tags:
    - vcenter
    - permissions
    - cluster

- name: "Validate cluster access"
  debug:
    msg: "Cluster access verified successfully"
  when:
    - vcenter_validation_check_cluster_access | default(true) | bool
    - cluster_access is not skipped
  tags:
    - vcenter
    - permissions
    - cluster

- name: "Check datastore access permissions"
  community.vmware.vmware_datastore_info:
    hostname: "{{ vcenter_host }}"
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_user_password }}"
    validate_certs: "{{ vcenter_connection_validate_certs }}"
    name: "{{ vcenter_datastore }}"
  delegate_to: localhost
  connection: local
  register: datastore_access
  ignore_errors: false
  when: vcenter_datastore | default('') != ''
  tags:
    - vcenter
    - permissions
    - datastore

- name: "Validate datastore access"
  debug:
    msg: "Datastore access verified successfully"
  when:
    - vcenter_datastore | default('') != ''
    - datastore_access is not skipped
  tags:
    - vcenter
    - permissions
    - datastore